# Ignore everything.
*

# Except sources.
!src
!src/**

# Except data.
!data
!data/**

# Except configuration files.
!build.gradle
!.gitignore
!gradlew
!gradlew.bat
!settings.gradle

# Except content.
!LICENSE.md
!README.md
